# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# WebStorm/Android/IntelliJ
#
*.iml
build/
.gradle
local.properties
**/.idea/*.iml
**/.idea/.name
**/.idea/caches
# .idea/dictionaries
**/.idea/gradle.xml
**/.idea/jsLibraryMappings.xml
**/.idea/libraries
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/runConfigurations.xml
**/.idea/tasks.xml
**/.idea/vcs.xml
**/.idea/workspace.xml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/

# Project
bak/
