// @see https://github.com/airbnb/javascript/blob/master/linters/.eslintrc
{
  "parser": "babel-eslint",          // https://github.com/babel/babel-eslint
  "extends": "airbnb",
  "plugins": [
    "react"                          // https://github.com/yannickcr/eslint-plugin-react
  ],
  "rules": {
    "react/prop-types": 1
  }
}
